{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="h3 mb-3">{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            <i class="bi bi-save"></i> Save
        </button>

        {% if form.instance.id %}
        <a href="{% url 'project_detail' form.instance.id %}" class="btn btn-secondary">Cancel</a>
        {% else %}
        <a href="{% url 'project_list' %}" class="btn btn-secondary">Cancel</a>
        {% endif %}

    </form>
</div>
{% endblock %}
